.vscode/
._.DS_Store
.DS_Store
._index.html
private/
._*
~$*
assets/prevate/sozai/01Webページ構成詳細.docx
assets/prevate/sozai/gitignore 追跡されないように設定.rtf
assets/prevate/sozai/Web学習計画.docx
assets/prevate/sozai/フォルダ構成.rtf
assets/prevate/sozai/仕様書もとにhead記述.rtf
